.wrap {
	width: 100%;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.4);
}

header.masthead {
	position: relative;
	margin-bottom: 3rem;
	padding-top: calc(8rem + 57px);
	padding-bottom: 8rem;
	background: no-repeat center center;
	background-color: #6c757d;
	background-size: cover;
	background-attachment: scroll;
}

header.masthead:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #212529;
	opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
	color: #fff;
}

header.masthead .page-heading,
header.masthead .site-heading {
	text-align: center;
}

header.masthead .page-heading h1,
header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
	font-size: 3rem;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.1;
	display: block;
	margin-top: 0.625rem;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .post-heading h1,
header.masthead .post-heading .h1 {
	font-size: 2.25rem;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
	line-height: 1.1;
	display: block;
}

header.masthead .post-heading .subheading {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0.75rem 0 2rem;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .post-heading .meta {
	font-size: 1.25rem;
	font-weight: 300;
	font-style: italic;
	font-family: 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .post-heading .meta a {
	color: #fff;
}

@media (min-width: 992px) {
	header.masthead {
		padding-top: 12.5rem;
		padding-bottom: 12.5rem;
	}
	header.masthead .page-heading h1,
	header.masthead .page-heading .h1,
	header.masthead .site-heading h1,
	header.masthead .site-heading .h1 {
		font-size: 5rem;
	}
	header.masthead .post-heading h1,
	header.masthead .post-heading .h1 {
		font-size: 3.5rem;
	}
	header.masthead .post-heading .subheading {
		font-size: 1.875rem;
	}
}

.main-app {
	margin: 2% 10%;
	border: 1px ridge #464141;
	padding: 5%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	color: #4e73df;
}

.pagination {
	margin-top: 45px;
	margin-left: -40px;
	display: flex;
	list-style: none;
	outline: none;
	color: #4e73df;
}

.pagination > .active > a {
	background-color: #4e73df;
	color: #fff !important;
}

.pagination > li > a {
	border: 1px solid #4e73df;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
	color: #4e73df;
	background-color: #fff;
}

.scrollTopContainer {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

.scrollTop {
	position: fixed;
	width: 50px;
	bottom: 20px;
	align-items: center;
	height: 20px;
	justify-content: center;
	z-index: 1000;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 0.5;
	color: #4e73df;
}

.scrollTop:hover {
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
